.about {
    padding: 178px 0;
  &__main{
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 0 100px;
}
  &__item{
    background-color:$color-white;
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0px rgba(247,248,252,0.75);
    padding: 29px 0 25px 26px;
    display: flex;
    flex-direction: column;
    
   
}
  &__item__info{
    display: flex ;
    flex-direction: column;
    flex: 1;
    
  }
  &__item--img{
    width: 103px;
    height: 97px;
    
}
  &__item--title{
    font-size: 24px;
    margin-bottom: 20px;
}
  &__item--desc{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: auto;
}
}