.blog {
  &__main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 227px 277px;
    grid-gap: 36px;
    grid-template-areas: "h1 h2" "h1 h3";
}
  &__main__item:first-child{
      grid-area: h1;

}
  &__main__item:nth-child(2){
      grid-area: h2;

}
  &__main__item:last-child{
      grid-area: h3;

}
  &__main__item__img{
    position: relative;
}
  &__main__item__desc{
    position: absolute;
    top: 0;
    left: 0;
}
}