.destination{
    padding: 100px 0;
    &__menu{
        width: 1200px;
        margin: 0 auto;
 
        border-bottom:  1px solid #A7A7A7;
        &__item{

        }
        &__link{
            color: $color-text;
        }
    }
    
    
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #163235;
        background-color: transparent;
    }
}