.footer {
    background-color:#E1E8F8;
    
  &__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 72px 30px 74px 31px;
}
  &__ropyright{

}
  &__menu{
    width: 602px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
  &__menu__item{

}
  &__menu__link{

}


&__social{

}
}