.footer {
    background-color:#E1E8F8;
    position: relative;
    padding-top: 178px;
    &__main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 72px 30px 74px 31px;
    }
    &__ropyright{
        font-size: 24px;
    }
    &__menu{
        width: 602px;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu__link{
        text-decoration: none;
        font-size: 24px;
        color: $color-text;

    }
    &__social a:not(:last-child){
        margin-right: 27px;
    }
}