.footer {
  &__main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  &__ropyright{

}
  &__menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
  &__menu__item{

}
  &__menu__link{

}
}
.footerr {
  &__social{

}
}