.happy {
  &__main{
    
}
  &__item{
    width: 918px;
}
  &__content{
    display: flex;
    align-items: flex-start;
}
  &__content__desc{

}
  &__user{

}
  &__user__avatar{

}
  &__user__info{

}
  &__user__name{

}
  &__user__position{

}
}