.header{
    &__main{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:20px 0
        
    }
    &__logo{
        display: inline-block;

    }
    &__menu{
        display:flex;
        justify-content: space-between;
        align-items: center;

    }
    &__menu__item{
        margin-left: 82px;
    }
    &__mennu__item__link{
        text-decoration: none;
        color: $color-dark-blue;
        font-size: 22px;
        
    }
    &__conn{
        text-decoration: none;
        background-color: $color-blue;
        color: $color-white;
        border-radius: 25px;
        padding:7px 15px;
    }

}