.header{
    &__main{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo{
        display: inline-block;
        
    }
    &__menu{

    }
    &__menu__item{

    }
    &__mennu__item__link{

    }
    &__conn{

    }

}