
@media (min-width:1920px){
    .container{
        max-width: 1804px;
    }
}
@media (min-width:1400px) and (max-width:1919px){
    .about {
        padding: 115px 0px;
    }
    .about__main {
        grid-column-gap: 30px;
     
    }
    .about__item {
      padding: 29px 30px 25px 26px;
    }

    /* destination */
    .destination {
         padding: 70px 0;
    }
    .destination__cards {
        grid-gap: 90px 55px;

    }
    .destination__card__top__desc {
        font-size: 24px
    }
    .destination__card__bottom__service__price {
        font-size: 27px;
    }
}
@media (min-width:1200px) and (max-width:1399px){
    .about {
        padding: 100px 0px;
    }   
    .about__main {
        grid-column-gap: 30px;
    }

    .about__item--desc {
      font-size: 18px;
    }
    .about__item:first-child {
        padding: 20px 23px 13px 20px;
    }
    .about__item:nth-child(2) {
        padding: 29px 10px 25px 20px;
    }   
    .about__item:nth-child(3) {
     padding: 29px 14px 25px 20px;
    }
    .about__item:last-child {
        padding: 29px 20px 10px 20px;
    }
    /* destinaton */
    .destination {
        padding: 50px 0;
    }
    .destination__menu {
         width: 990px;
    }
    .destination__menu__link {
        font-size: 22px;
    }
    .destination__cards {
        grid-gap: 90px 50px;
    }
    .destination__card__top__name {
         font-size: 35px;
    }
    .destination__card__top__desc {
        font-size: 22px;
    }
    .destination__card__bottom__service__img img {
        width: 30px;
        height: 30px;
    }
    .destination__card__bottom__service__price {
         font-size: 25px;
    }
    .destination__card__bottom__info {
        font-size: 20px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .header__menu__item:not(:first-child) {
        margin-left: 65px;
    }
    .about {
        padding: 70px 0;
    }
    .about__main {
   
        grid-column-gap: 20px;
    }
    .about__item:first-child,
    .about__item:nth-child(2),
    .about__item:nth-child(3),
    .about__item:last-child {
        padding: 29px 10px 15px 15px;
    }
    .about__item--desc {
        font-size: 16px;
    }
    .about__item--title {
        font-size: 20px;
    }
    /* destination */
    .destination {
        padding: 40px 0;
    }
    .destination__title {
        margin-bottom: 60px;
    }
    .destination__menu {
        width: 830px;
    }
    .destination__menu__link {
        font-size: 20px;
    }  
    .destination__cards {
        grid-gap: 90px 30px;
        margin-top: 50px;
    } 
    .destination__card__top__name {
        font-size: 30px;
    }
    .destination__card__top__desc {
        font-size: 20px;
    }
    .destination__card__bottom__service__img img {
        width: 28px;
        height: 28px;
    }
    .destination__card__bottom__service__price {
        font-size: 25px;
    }
    .destination__card__bottom__info {
        font-size: 20px;
    }
}
@media (min-width:768px) and (max-width:991px){
    .header__menu__item:not(:first-child) {
        margin-left: 25px;
    }
    .header__conn {

        font-size: 16px;
        padding: 3px 10px;
    }
    /* banner */
    .header__mennu__item__link {
        font-size: 20px;
    }
    .banner {
        min-height: 450px;
    }
    .banner__main__item:not(:last-child) {
        margin-right: 15px;
        padding-right: 10px;
    }
    .banner__main__title {
        font-size: 30px;
    }  
    .banner__main__desc {
        width: 70%;
        margin-bottom: 20px;
    } 
    .banner__main__bottom {
        width: 85%;
        padding: 13px;
        margin: 0 auto;
    }
    .banner__btn {
        padding: 10px 15px;
    }
    .banner__main__item__caption {
        font-size: 18px;
    }
    /* about */
    .about {
         padding: 50px;
    }
    .about__main {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
    
    .about__item:first-child {
        padding: 29px 30px 21px 26px;
    }
    
    .about__item:nth-child(2) {
        padding: 29px 18px 25px 15px;
    }
    .about__item--title {
         font-size: 20px;
      }   
      /* destination */
      .destination {
        padding: 40px 0;
    }
    .destination__title {
        font-size: 35px;
        margin-bottom: 40px;
    }
    .destination__menu {
        width: 600px;
    }
    .destination__menu__link {
        font-size: 20px;
    }
        .destination__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px 30px;

    }
    .destination__card__top__name {
        font-size: 28px;
    }
    .destination__card__top__desc {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .destination__card__bottom__service__img img {
        width: 25px;
        height: 25px;
    }
    .destination__card__bottom__service__price {
        font-size: 22px;
    }
    .destination__card__bottom__info {
        font-size: 18px;
        line-height: 30px;
    }
}
@media  (max-width:767px){
    .container{
        max-width: 100%;
        padding: 0 1.5%;
        margin:0 ;
    }
    
    .header__main {
        padding: 10px;
    }
    .header__menu {
        position: absolute;
        flex-direction: column;
        background: #1C4961;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 50px;
        transition: 0.5s ;
        transform: translateX(-100%);
        justify-content: unset;
        z-index: 999;
    }
    .header__menu.active{
        transform: translateX(0);
    }
    .header__mennu__item__link {
        color: white;;
    }
    .sub-menu{
        display: block;
        left: 90%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .header__menu__item:not(:first-child) {
        margin-left: 0;
    } 
    .header__menu__item{
        margin-top: 30px;
    }   
    .header__conn {
        font-size: 14px;
        position: absolute;
        padding: 3px 10px;
        right: 20%;
    }    
    /* banner */
    .banner {
         min-height: 40vh; 
    }
    .banner__main__bottom {
         display: none;
    }
    .banner__main__title {
        font-size: 5vw;
    }
    .banner__main__desc {
        width: 90vw;
        margin-bottom: 20px;
        font-size: 3vw;
    }
    /* about */
    .about {
        padding: 40px 0;
    }
    .about__main {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }
    .about__item--img {
        width: 70px;
        height: auto;
    }
    .about__item--title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .about__item--desc {
         font-size: 16px;
    }
    .about__item:first-child,
    .about__item:nth-child(2),
    .about__item:nth-child(3),
    .about__item:last-child {
        padding: 25px 10px 15px 20px;
    }
    /* destination */
    .destination {
        padding: 0;
    }
    .destination__title {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .destination__menu {
        width: 90%;
    }
    .destination__menu__link {
        font-size: 16px;

    }
    .destination__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px 0;
    margin-top: 30px;
}

}
